*{
  margin: 0;
  padding: 0;
}

nav{
  background-color: rgb(40, 0, 92);
  width: 100%;
  color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  height: 55px;
  font-size: 20px;
}
.nav-bar .title{
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  list-style: none;
}

#home{
  background-color: none;
}

#cartoon{
  background-color: none;
}

#form{
  background-color: none;
}

body{
  background: linear-gradient(130deg,rgb(208, 172, 255),rgb(32, 0, 73));
}
.login {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
}

.login h2 {
    text-align: center;
    color: #a377d4;
    margin-bottom: 30px;
    font-size: 3em;
}

@media (max-width: 1100px){
.login {
    max-width: 300px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
button{
  background-color: #282c57;
  color: #969efa;
  margin-top: 5px;
  padding: 5px;
  border-radius: 10px;
  transition-duration: 0.7s;
}
}